body {
  background: url("../assets/home/background-home-mobile.jpg")
              no-repeat fixed center;
  background-size: cover;
}
.home-article {
  line-height: 1.5;
  margin-top: 5vh;
  margin-bottom: 20vh;
}
.home-article__main-p {
  letter-spacing: 0.1rem;
  font-size: 1rem;
  text-transform: uppercase;
}
.home-article__heading {
  font-size: 5rem;
}
.explore-btn__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 9.375rem;
  width: 9.375rem;
  background-color: var(--primary-button-color);
  border-radius: 100%;
  margin: auto;
}
.explore-btn__link:hover {
  border: 1rem solid #979797;
}
.explore-btn__text {
  font-size: 1.25rem;
  font-family: "Bellefair";
  color: var(--secondary-button-color);
}
