* {
  box-sizing: border-box;
}
:root {
  --primary-text-color: white;
  --secondary-text-color: #D0D6F9;
  --primary-button-color: white;
  --secondary-button-color: #0B0D17;
}
body {
  text-align: center;
  padding: 1.5rem;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Bellefair";
  color: var(--primary-text-color);
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}
.top-title {
  font-family: "Barlow Condensed";
  font-size: 1rem;
  padding: 2rem 0;
}
@media (min-width: 768px) {
  .top-title {
    font-size: 1.25rem;
    text-align: left;
    padding: 3rem 0;
  }
}
.top-title__span {
  color: #4e4e57;
}
p {
  font-family: "Barlow Condensed";
  color: var(--secondary-text-color);
  line-height: 1.5;
  font-size: 0.938rem;
}
@media (min-width: 768px) {
  p {
    font-size: 1rem;
  }
}
a {
  font-family: "Barlow Condensed";
  color: var(--primary-text-color);
  text-transform: uppercase;
  text-decoration: none;
}

/* HELPERS */
.flex-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/*@media (max-width: 767px) {
  .mobile-flex-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
@media (min-width: 768px) {
  .tablet-desktop-flex-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}*/

/* HEADER */
.header {
  text-align: left;
}
.header__hr {
  display: none;
}
.header__navbar {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  width: 70vw;
  height: 100%;
  padding: 15vh 5vw;
  padding-right: 0;
  backdrop-filter: blur(35px);
  -webkit-backdrop-filter: blur(35px);
  z-index: 1;
}
.header__navbar__icon {
  z-index: 2;
}
.header__navbar__item {
  display: block;
  padding: 1rem;
  padding-right: 0;
  letter-spacing: 0.1rem;
}
.header__navbar__item__span {
  font-weight: bold;
}
.header__navbar__item--active {
  border-right: 0.2rem solid;
}

@media (min-width: 768px) {
  .header {
    width: 100%;
  }
  .header__navbar {
    display: block;
    padding: 2.438rem 2rem;
    background-color: rgba(151,151,151,0.05);
    width: 60vw;
    height: calc(2 * 2.438rem + 1rem);
  }
  .header__navbar__icon {
    display: none;
  }
  .header__navbar__item {
    display: initial;
    padding: 0;
    padding-bottom: 2.238rem;
    margin: 1rem;
  }
  .header__navbar__item:hover {
    border-right: none;
    border-bottom: 0.2rem solid var(--secondary-text-color);
  }
  .header__navbar__item__span {
    display: none;
  }
  .header__navbar__item--active {
    border-right: none;
    border-bottom: 0.2rem solid;
  }
}
